<style>
    .right75 {
        margin: 10px 50px;
    }

</style>
<div class="right75">
    <div class="sub_page_aboutus">
        <div class="title_page_aboutus" style="font-size:20px;">
            Giới thiệu | Trường THPT Đống Đa
        </div>
        <div class="note_aboutus">
            <p style="text-align: justify;"><strong style="font-size:20px;">Giới thiệu về nhà trường</strong></p>

            <p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Trường THPT Đống Đa có bề dày tryền thống 60 năm xây dựng và trưởng thành. Trường PTTH Đống Đa mà tiền thân là trường cấp III Đống Đa, được thành lập từ năm học 1959-1960 với tên gọi PTCN cấp III Đống Đa. Khóa học đầu tiên của trường đào tạo tại địa điểm chung với trường cấp II Trung Liệt nằm cạnh gò Đống Đa. Là trường phổ thông cấp III đầu tiên của Quận, mang tên Đống Đa – gắn với địa danh lịch sử hào hùng của dân tộc: Chiến thắng Ngọc Hồi – Đống Đa năm 1789 của vua Quang Trung – Nguyễn Huệ. Đến năm học 1963-1964 trường được dời về ngõ Quan Thổ 1 - Tôn Đức Thắng. Mùa khai giảng đầu tiên của trường cấp III Đống Đa tại địa điểm mới cũng là mùa khai giảng đầu tiên của trường cấp III Trưng Vương A, kế thừa truyền thống hiếu học, thanh lịch nổi tiếng của học sinh Hà Nội (trường Đồng Khánh - Trưng Vương). Trên cùng 1 địa điểm tại số 10, ngõ Quan Thổ 1, Tôn Đức Thắng vào thời điểm đó, buổi sáng học sinh trường cấp III Đống Đa đến lớp, buổi chiều học sinh trường cấp III Trưng Vương A đến trường. Năm học 1993-1994, THPT Đống Đa và THPT Trưng Vương được sáp nhập thành trường THPT Đống Đa ngày nay.</p>

            <p style="text-align: justify;">&nbsp; &nbsp; Trải qua 60 năm, trường đã đào tạo được hàng vạn học sinh tốt nghiệpTHPT, những năm gần đây số học sinh đỗ vào các trường Đại học và Cao đẳng đạt tỷ lệ trên 90%; rất nhiều các thế hệ học sinh ra trường đã trở thành tiến sỹ, kỹ sư, bác sỹ và hàng ngàn lao động có tay nghề cao hoạt động trong các lĩnh vực xã hội trong cả nước. Nhà trường luôn được ngành Giáo dục đánh giá cao và là một điểm sáng của Giáo dục Thủ đô Hà Nội ngàn năm văn hiến.</p>

            <p style="text-align: justify;">&nbsp; &nbsp; Để hướng tới lễ kỷ niệm 60 năm ngày thành lập trường, nhà trường đã tổ chức các hoạt động thiết thực, phong trào thi đua nhằm nâng cao chất lượng các hoạt động giáo dục, tuyên truyền giáo dục cho học sinh hiện tại tự hào về truyền thống nhà trường. Trường đã 2 lần vinh dự được Chủ tịch nước tặng thưởng : “Huân chương lao động hạng Ba”, Bằng khen của Thủ tướng Chính phủ. Bằng khen của Bộ trưởng Bộ Giáo dục và đào tạo. Nhiều năm liền Nhà trường liên tục đạt danh hiệu "<em>Tập thể lao động xuất sắc</em>" và được UBND Thành phố Hà Nội tặng Bằng khen. Với những nỗ lực không ngừng, cùng với bề dày truyền thống và sự đóng góp của các thế hệ thày và trò, năm 2012 Trường THPT Đống Đa được UBND TP Hà Nội công nhận là Trường Trung học phổ thông đạt chuẩn Quốc gia.</p>

            <p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Đảng bộ thể hiện vai trò lãnh đạo toàn diện trong Nhà trường và liên tục được công nhận là “Tổ chức cơ sở Đảng trong sạch, vững mạnh” và “Tổ chức cơ sở đảng Hoàn thành tốt nhiệm vụ”.</p>

            <p style="text-align: justify;">&nbsp; &nbsp; Công đoàn được Công đoàn Giáo dục Việt Nam tặng Bằng khen có thành tích xuất sắc trong phong trào thi đua “Dạy tốt – Học tốt” năm học 2019 – 2020; công đoàn nhà trường liên tục được Công đoàn ngành Giáo dục Hà Nội công nhận là Tổ chức Công đoàn vững mạnh; được Liên đoàn Lao động Thành phố Hà Nội và Công đoàn Giáo dục Việt Nam tặng Bằng khen.</p>

            <p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Đoàn thanh niên Cộng sản Hồ Chí Minh liên tục là đơn vị thi đua xuất sắc được tặng Bằng khen và cờ thi đua xuất sắc của Trung ương đoàn.</p>

            <p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Năm học 2019- 2020, trường THPT Đống Đa có 101 CBGV – NV, đạt chuẩn 100% trong đó 40 Thạc sỹ, 1Tiến sỹ, 1 nghiên cứu sinh; tỷ lệ học sinh Giỏi và Khá trên 90%; tỷ lệ đỗ TN 100%; tỷ lệ học sinh đỗ vào các trường ĐH công lập đạt trên 95%. Năm học 2020-2021, nhà trường có 45 lớp, tổng số học sinh 1962, tập thể cán bộ, giáo viên và học sinh nhà trường đang thi đua lập nhiều thành tích chào mừng kỷ niệm 60 năm thành lập trường 1960-2020.</p>

            <p style="text-align: justify;">&nbsp;</p>

            <p style="text-align: justify;">
                <br>
            </p>

            <p style="text-align: justify;">&nbsp;</p>
        </div>
    </div>
</div>