USE [ThucTapCNTT]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[idbangdiem] INT IDENTITY(1,1) NOT NULL,
	[ghichu] [nvarchar](100) NULL,
	[tongkethocky] [nvarchar](50) NULL,
	[idmonhoc] int NULL,
	[idhocky] int NULL,
	[idhocsinh] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idbangdiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBANGDIEM]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBANGDIEM](
	[idchitietbangdiem] INT IDENTITY(1,1) NOT NULL,
	[diem15phutlan1] [float] NULL,
	[diem15phutlan2] [float] NULL,
	[diem45phutlan1] [float] NULL,
	[diem45phutlan2] [float] NULL,
	[diemhocky] [float] NULL,
	[idbangdiem] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idchitietbangdiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLOPHOCSINH]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLOPHOCSINH](
	[namhoc] [nvarchar](50) NULL,
	[idlop] int NOT NULL,
	[idhocsinh] int NOT NULL,
 CONSTRAINT [id_lop8] PRIMARY KEY CLUSTERED 
(
	[idlop] ASC,
	[idhocsinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHOIKHOABIEU]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHOIKHOABIEU](
	[sotiet] [int] NULL,
	[thu] [date] NULL,
	[sothututiet] [int] NULL,
	[idmonhoc] int NOT NULL,
	[idtkb] int NOT NULL,
 CONSTRAINT [id_tkb8] PRIMARY KEY CLUSTERED 
(
	[idtkb] ASC,
	[idmonhoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIAKETQUA]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIAKETQUA](
	[iddanhgia] INT IDENTITY(1,1) NOT NULL,
	[ketqua] [nvarchar](100) NULL,
	[idhocsinh] int NULL,
	[idhocky] int NULL,
PRIMARY KEY CLUSTERED 
(
	[iddanhgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIAKETQUACHITIET]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIAKETQUACHITIET](
	[idchitiet] INT IDENTITY(1,1) NOT NULL,
	[ngaydanhgia] [datetime] NULL,
	[chitiet] [nvarchar](100) NULL,
	[iddanhgia] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idchitiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[idhocky] INT IDENTITY(1,1) NOT NULL,
	[tenhocky] [nvarchar](100) NULL,
	[namhoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idhocky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[idhocsinh] INT IDENTITY(1,1) NOT NULL,
	[tenhocsinh] [nvarchar](100) NULL,
	[namsinh] [date] NULL,
	[dienthoai] [int] NULL,
	[diachi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idhocsinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUARENLUYENCHUNG]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUARENLUYENCHUNG](
	[idkethochoctap] INT IDENTITY(1,1) NOT NULL,
	[ketqua] [nvarchar](100) NULL,
	[ghichu] [nvarchar](100) NULL,
	[idbangdiem] int NULL,
	[iddanhgia] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idkethochoctap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUNGHIHOC]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUNGHIHOC](
	[idlichsunghihoc] INT IDENTITY(1,1) NOT NULL,
	[lydo] [nvarchar](100) NULL,
	[trangthai] [nvarchar](50) NULL,
	[cophep] [bit] NULL,
	[ngaynghi] [date] NULL,
	[idhocsinh] int NULL,
	[idlop] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idlichsunghihoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTHI]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTHI](
	[idlichthi] INT IDENTITY(1,1) NOT NULL,
	[ngaythi] [date] NULL,
	[giothi] [time](7) NULL,
	[idmonhoc] int NULL,
	[idhocky] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idlichthi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[idlop] INT IDENTITY(1,1) NOT NULL,
	[tenlop] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idlop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[idmonhoc] INT IDENTITY(1,1) NOT NULL,
	[tenmonhoc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idmonhoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[idnguoidung]  INT IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[tendangnhap] [nvarchar](50) NULL,
	[matkhau] [nvarchar](50) NULL,
	[dienthoai] [int] NULL,
	[idnhomnguoidung] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idnguoidung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[idnhomnguoidung] INT IDENTITY(1,1) NOT NULL,
	[tennhomnguoidung] [nvarchar](100) NULL,
	[idquyen] int NULL,
PRIMARY KEY CLUSTERED 
(
	[idnhomnguoidung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[idquyen] INT IDENTITY(1,1) NOT NULL,
	[tenquyen] [nvarchar](100) NULL,
	[ghichu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idquyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIKHOABIEU]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIKHOABIEU](
	[idtkb] INT IDENTITY(1,1) NOT NULL,
	[thoigianbatdau] [time](7) NULL,
	[thoigianketthuc] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idtkb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINPHANHOI]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINPHANHOI](
	[id] INT IDENTITY(1,1) NOT NULL,
	[noidung] [nvarchar](100) NULL,
	[thoigian] [datetime] NULL,
	[idnguoidung]  int NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINTRAODOICUAGIADINH]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINTRAODOICUAGIADINH](
	[id] INT IDENTITY(1,1) NOT NULL,
	[noidung] [nvarchar](100) NULL,
	[thoigian] [datetime] NULL,
	[idnguoidung] int NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 8/9/2021 09:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[idtintuc] INT IDENTITY(1,1) NOT NULL,
	[tieudetintuc] [nvarchar](100) NULL,
	[ngaythem] [datetime] NULL,
	[noidung] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idtintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [id_hocky3] FOREIGN KEY([idhocky])
REFERENCES [dbo].[HOCKY] ([idhocky])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [id_hocky3]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [id_hocsinh3] FOREIGN KEY([idhocsinh])
REFERENCES [dbo].[HOCSINH] ([idhocsinh])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [id_hocsinh3]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [id_monhoc3] FOREIGN KEY([idmonhoc])
REFERENCES [dbo].[MONHOC] ([idmonhoc])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [id_monhoc3]
GO
ALTER TABLE [dbo].[CHITIETBANGDIEM]  WITH CHECK ADD  CONSTRAINT [id_bangdiem3] FOREIGN KEY([idbangdiem])
REFERENCES [dbo].[BANGDIEM] ([idbangdiem])
GO
ALTER TABLE [dbo].[CHITIETBANGDIEM] CHECK CONSTRAINT [id_bangdiem3]
GO
ALTER TABLE [dbo].[CHITIETLOPHOCSINH]  WITH CHECK ADD  CONSTRAINT [id_hocsinh] FOREIGN KEY([idhocsinh])
REFERENCES [dbo].[HOCSINH] ([idhocsinh])
GO
ALTER TABLE [dbo].[CHITIETLOPHOCSINH] CHECK CONSTRAINT [id_hocsinh]
GO
ALTER TABLE [dbo].[CHITIETLOPHOCSINH]  WITH CHECK ADD  CONSTRAINT [id_lop] FOREIGN KEY([idlop])
REFERENCES [dbo].[LOP] ([idlop])
GO
ALTER TABLE [dbo].[CHITIETLOPHOCSINH] CHECK CONSTRAINT [id_lop]
GO
ALTER TABLE [dbo].[CHITIETTHOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [id_monhoc2] FOREIGN KEY([idmonhoc])
REFERENCES [dbo].[MONHOC] ([idmonhoc])
GO
ALTER TABLE [dbo].[CHITIETTHOIKHOABIEU] CHECK CONSTRAINT [id_monhoc2]
GO
ALTER TABLE [dbo].[CHITIETTHOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [id_tkb2] FOREIGN KEY([idtkb])
REFERENCES [dbo].[THOIKHOABIEU] ([idtkb])
GO
ALTER TABLE [dbo].[CHITIETTHOIKHOABIEU] CHECK CONSTRAINT [id_tkb2]
GO
ALTER TABLE [dbo].[DANHGIAKETQUA]  WITH CHECK ADD  CONSTRAINT [id_hocky2] FOREIGN KEY([idhocky])
REFERENCES [dbo].[HOCKY] ([idhocky])
GO
ALTER TABLE [dbo].[DANHGIAKETQUA] CHECK CONSTRAINT [id_hocky2]
GO
ALTER TABLE [dbo].[DANHGIAKETQUA]  WITH CHECK ADD  CONSTRAINT [id_hocsinh2] FOREIGN KEY([idhocsinh])
REFERENCES [dbo].[HOCSINH] ([idhocsinh])
GO
ALTER TABLE [dbo].[DANHGIAKETQUA] CHECK CONSTRAINT [id_hocsinh2]
GO
ALTER TABLE [dbo].[DANHGIAKETQUACHITIET]  WITH CHECK ADD  CONSTRAINT [id_danhgia] FOREIGN KEY([iddanhgia])
REFERENCES [dbo].[DANHGIAKETQUA] ([iddanhgia])
GO
ALTER TABLE [dbo].[DANHGIAKETQUACHITIET] CHECK CONSTRAINT [id_danhgia]
GO
ALTER TABLE [dbo].[KETQUARENLUYENCHUNG]  WITH CHECK ADD  CONSTRAINT [id_bangdiem2] FOREIGN KEY([idbangdiem])
REFERENCES [dbo].[BANGDIEM] ([idbangdiem])
GO
ALTER TABLE [dbo].[KETQUARENLUYENCHUNG] CHECK CONSTRAINT [id_bangdiem2]
GO
ALTER TABLE [dbo].[KETQUARENLUYENCHUNG]  WITH CHECK ADD  CONSTRAINT [id_danhgia2] FOREIGN KEY([iddanhgia])
REFERENCES [dbo].[DANHGIAKETQUA] ([iddanhgia])
GO
ALTER TABLE [dbo].[KETQUARENLUYENCHUNG] CHECK CONSTRAINT [id_danhgia2]
GO
ALTER TABLE [dbo].[LICHSUNGHIHOC]  WITH CHECK ADD  CONSTRAINT [id_hocsinh4] FOREIGN KEY([idhocsinh])
REFERENCES [dbo].[HOCSINH] ([idhocsinh])
GO
ALTER TABLE [dbo].[LICHSUNGHIHOC] CHECK CONSTRAINT [id_hocsinh4]
GO
ALTER TABLE [dbo].[LICHSUNGHIHOC]  WITH CHECK ADD  CONSTRAINT [id_lop2] FOREIGN KEY([idlop])
REFERENCES [dbo].[LOP] ([idlop])
GO
ALTER TABLE [dbo].[LICHSUNGHIHOC] CHECK CONSTRAINT [id_lop2]
GO
ALTER TABLE [dbo].[LICHTHI]  WITH CHECK ADD  CONSTRAINT [id_hocky6] FOREIGN KEY([idhocky])
REFERENCES [dbo].[HOCKY] ([idhocky])
GO
ALTER TABLE [dbo].[LICHTHI] CHECK CONSTRAINT [id_hocky6]
GO
ALTER TABLE [dbo].[LICHTHI]  WITH CHECK ADD  CONSTRAINT [id_monhoc4] FOREIGN KEY([idmonhoc])
REFERENCES [dbo].[MONHOC] ([idmonhoc])
GO
ALTER TABLE [dbo].[LICHTHI] CHECK CONSTRAINT [id_monhoc4]
GO
ALTER TABLE [dbo].[LICHTHI]  WITH CHECK ADD  CONSTRAINT [id_monhoc6] FOREIGN KEY([idmonhoc])
REFERENCES [dbo].[MONHOC] ([idmonhoc])
GO
ALTER TABLE [dbo].[LICHTHI] CHECK CONSTRAINT [id_monhoc6]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [id_nguoidung2] FOREIGN KEY([idnhomnguoidung])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([idnhomnguoidung])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [id_nguoidung2]
GO
ALTER TABLE [dbo].[NHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [id_quyen2] FOREIGN KEY([idquyen])
REFERENCES [dbo].[QUYEN] ([idquyen])
GO
ALTER TABLE [dbo].[NHOMNGUOIDUNG] CHECK CONSTRAINT [id_quyen2]
GO
